<section class="model-driven flex column">
    <form [formGroup]="form">
        <h2>Enter your details</h2>
        <div class="flex mb-2">
            <p>Receivers name:</p>
            <input formControlName="first" placeholder="First name" />
            <input formControlName="last" class="ml-2" placeholder="Last name" />
        </div>
        <div class="flex mb-2">
            <p>Phone number:</p>
            <input formControlName="phone" type="number" placeholder="05?-????-???" />
        </div>
        <div formArrayName="addresses">
            <div *ngFor="let address of addresses.controls; let idx = index" [formGroupName]="idx">
                <p>Address</p>
                <input formControlName="city" placeholder="City" class="flex-three" />
                <div class="flex align-center">
                    <input formControlName="street" class="mb-2" placeholder="Street" />
                    <input formControlName="floor" class="mb-2" placeholder="Floor" />

                </div>
            </div>
        </div>
        <textarea  formControlName="note" placeholder="Enter your note here..." class="form-textarea" cols="30" rows="10"></textarea>
        <h1>Total: {{totalAmount | currency}}</h1>
        <br /> <br />
        <div align="end">
            <button md-button color="primary" type="submit">Pay <fa-icon class="icon" [icon]="faDollar"></fa-icon></button>
        </div>
    </form>
    <button class="return-btn" (click)="onReturnToOrder()"><fa-icon class="icon" [icon]="faXmark"></fa-icon></button>
</section>