<section class="about">
  <div class="info">
    <h1 class="bolder">About us</h1>
    <p class="about-txt">
      Essex-born and London-based, we’re a burger truck turned raved-about
      restaurant in the heart of Shoreditch. To find the perfect patty, we drew
      inspiration from burger joints all over the world, from London to Miami,
      Vegas to LA, Berlin to NYC. So we know a good burger when we bite one.
      <br />
      <br>
      We’re known for bringing some of the best burgers to the capital, using
      freshly ground dry aged beef made from choice cuts of meat. We first
      gained a fanbase trading from a Citroen H van, before opening sites at
      street food markets Kerb and Street Feast – and finally launching our very
      own restaurant in E1. Alongside the top chef-quality burgers that gave us
      our name, we serve American-style sides including Dirty Tots or Fries with
      bone marrow gravy, plus sauces such as our signature Burnt Butter Mayo,
      and a drinks list of cocktails, craft beers and wine.
    </p>
  </div>
  <img src="https://images.unsplash.com/photo-1550547660-d9450f859349?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YnVyZ2VyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
</section>
