.about {
  display: flex;
  align-items: center;
  gap: 50px;
  .info {
h1{
    font-size: 40px;
    margin-bottom: 30px;
}
    .about-txt {
        font-weight: 600;
      max-width: 800px;
      font-size: 18px;
    }
  }

  img{
    height: 100%;
  }
}
